customer-api/src/main/mule/lastproject2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:shopify="http://www.mulesoft.org/schema/mule/shopify"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/shopify http://www.mulesoft.org/schema/mule/shopify/current/mule-shopify.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e66d8e28-9b47-4f48-8376-df6e49386c8d" basePath="mule-l2-final-project.myshopify.com" >
		<http:request-connection host="mule-l2-final-project.myshopify.com" port="443" protocol="HTTPS"/>
	</http:request-config>
	<shopify:config name="Shopify_Connector_Config" doc:name="Shopify Connector Config" doc:id="561df37f-afc0-4b8a-ad0a-45cc5677ac72" >
		<shopify:basic-auth-connection username="fcdbdd9ae6ab70463ab5d219ef48265d" password="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" baseUri="https://mule-l2-final-project.myshopify.com/" />
	</shopify:config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="b0224c7a-8b1c-47b0-a8c3-357bb243e86f" basePath="/numverify.com" >
		<http:request-connection host="numverify.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="0ddbb281-8701-4841-b271-16e804c753d1" basePath="numverify.com" >
		<http:request-connection host="numverify.com" />
	</http:request-config>
<http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="0beacdde-7823-4e50-a3d7-b0c308c0de94" basePath="/api" >
		<http:request-connection host="apilayer.net" />
	</http:request-config>
<http:request-config name="HTTP_Request_configuration4" doc:name="HTTP Request configuration" doc:id="42852e71-1ec8-473b-95bc-510e1bebec1b" basePath="/data/2.5" >
		<http:request-connection host="api.openweathermap.org" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration5" doc:name="HTTP Request configuration" doc:id="05b2283d-9f8e-41c6-a047-6b9fbd6c5f1e" basePath="/ZipCodesAPI.svc/1.0" >
		<http:request-connection protocol="HTTPS" host="api.zip-codes.com" port="443" />
	</http:request-config>
	<flow name="main" doc:id="98d33d93-aa0e-4058-8609-ed7d50dd1228">
		<http:listener doc:name="Listener" doc:id="1647bea3-a5b5-407c-bf8e-efe56a140625" config-ref="HTTP_Listener_config" path="/kk" />
		<shopify:customer-list doc:name="Customer List" doc:id="43e02f1f-adf7-4b74-810d-0b5a9ee7553f" config-ref="Shopify_Connector_Config" target="customerLists"/>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;(vars.customerLists filter ((customer) -&gt; customer.first_name == "Hayat"))[0].addresses.zip[0]]' doc:name="zip code" doc:id="bd378901-3120-46ce-9965-5fd586a85f22" variableName="zipCode"/>
		<logger level="INFO" doc:name="Zip Code" doc:id="5846e0cc-78a8-4a27-b382-957c3131a8fa" message="Zip code for::: #[vars.zipCode]"/>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;(vars.customerLists filter ((item, index) -&gt; (item.tags == "Team_A") ))[0]]' doc:name="Team A" doc:id="10ab8743-c754-413b-994d-9d79ed85fb8f" variableName="teamA"/>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;vars.customerLists filter ((item, index) -&gt; (item.tags != "Team_A") )&#10;map (&#10;	)-&gt;{&#10;		&#10;    "tags": $.tags,&#10;    "TelephoneNumber": $.phone,&#10;    "customerID": $.customerid,&#10;    "id_hr": random(),&#10;    "zipCode": $.addresses[0].zip,&#10;   "fullName":$.adresses.name,&#10;&#10;    "email": $.email,&#10;    "muleTimestamp":now()&#10;&#10;	}]' doc:name="Other Team" doc:id="acfc2ef1-87c1-47cc-92ba-7c110ec9b6cb" variableName="otherTeams"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="5a9120e5-1010-4ef7-b11e-fa9ec13aa785" config-ref="Database_Configcloud">
			<db:bulk-input-parameters ><![CDATA[#[vars.otherTeams]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[insert into Craftsoft_B30_customer_team_A_Error(tags,TelephoneNumber,customerID,id_hr,zipCode,fullName,email,muleTimestamp)
values (:tags,:TelephoneNumber,:customerID,:id_hr,:zipCode,:fullName,:email,:muleTimestamp);]]></db:sql>
		</db:bulk-insert>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;vars.teamA.phone]' doc:name="Phone Number" doc:id="ab9bc825-92ee-4a8c-9075-fba8aed98436" variableName="phoneNumber"/>
		<http:request method="GET" doc:name="Request numverify" doc:id="5062e803-be43-44ee-9068-606595885b7b" config-ref="HTTP_Request_configuration3" path="/validate">
			<http:query-params><![CDATA[#[{
	"access_key" : "7f75a4b698f1cfff2734c3ff6d390195",
	"number" : vars.phoneNumber
	}]]]></http:query-params>
		</http:request>
				<choice doc:name="Choice" doc:id="37c60963-c896-4596-94c1-b0cfa2424b9b">
			<when expression="#[payload.valid == true]">
				<flow-ref doc:name="Flow Reference" doc:id="617c1fde-692f-4c28-bd89-2d06ccc7b80f" name="L1PROJECT"/>
				<ee:transform doc:name="Team A" doc:id="dc75e9f0-e2e2-4bcb-a337-f27eafef2514">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="teamA"><![CDATA[%dw 2.0
output application/json
---
//payload filter ((item, index) -> (item.tags== "Team_A") )
{
    "tags": vars.teamA.tags,
    "TelephoneNumber": vars.teamA.phone,
    "customerID": vars.teamA.id,
    "id_hr": random(),
    "zipCode": vars.teamA.addresses[0].zip,
    "fullName": vars.teamA.addresses[0].first_name ++" "++ vars.teamA.addresses[0].last_name,
    "email": vars.teamA.email,
    "Latitude": vars.weatherData.coord.lon,
    "Longitude": vars.weatherData.coord.lon,
    "temp_min": vars.weatherData.main.temp_min,
    "temp_max": vars.weatherData.main.temp_max,
    "muleTimestamp": now()

}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-payload value="#[vars.teamA]" doc:name="Set Payload" doc:id="de2623e1-9986-41a2-aa97-fcbb86f352a4" />
				<db:insert doc:name="Insert" doc:id="d683bef1-4bad-454c-872a-2d2319426384" config-ref="Database_Configcloud">
					<db:sql ><![CDATA[insert into Craftsoft_B30_customer_team_A(tags,TelephoneNumber,customerID,id_hr,zipCode,fullName,email,Latitude,Longitude,temp_min,temp_max,muleTimestamp)
values (:tags,:TelephoneNumber,:customerID,:id_hr,:zipCode,:fullName,:email,:Latitude,:Longitude,:temp_min,:temp_max,:muleTimestamp);
]]></db:sql>
					<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
				</db:insert>
			</when>
			<otherwise>
				<ee:transform doc:name="ERRORDB" doc:id="67b2c566-7dea-465f-a085-ea5f14906b77">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"error DB"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="error_handlerError_Handler" />
	

</flow>
	<flow name="L1PROJECT" doc:id="b512e84e-c821-4666-abf5-f193c73f4f65" >
		<http:listener doc:name="Listener" doc:id="391dc941-4d6e-4a93-9c80-92e4ab73b9d6" config-ref="HTTP_Listener_config" path="/l1/{zip}"/>
		<http:request method="GET" doc:name="Request L1project" doc:id="ee3dbb12-8529-4897-9889-4c638abcea09" config-ref="HTTP_Request_configuration5" path="/GetZipCodeDetails/{zip}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"zip" : vars.zipCode
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"Key" : "7P02TLBONDKF7OWOUSP3"
}]]]></http:query-params>
		</http:request>
		<http:request method="GET" doc:name="Request WEATHER" doc:id="486a89f5-6124-46f8-b01b-b15f2adeb0b2" config-ref="HTTP_Request_configuration4" path="/weather" target="weatherData">
			<http:query-params><![CDATA[#[output application/json
---
{
	"appid"  :  "f2c5d4707693f74beb910ee086941bc7",
"lat" :payload.item.Latitude,
"lon" :payload.item.Longitude
}]]]></http:query-params>
		</http:request>
		<error-handler ref="error_handlerError_Handler" />
	

</flow>
</mule>
